<div id="createAccount" class="col-lg-6">
    <h2>Create Account</h2>
    <p>New to our store? Enter your information below. (Password is case sensitive and should include a minimum of 8 characters and cannot match the email address)</p>
    <form>
        <div class="row">
            <div class="col-md-7">
                <label>First Name</label>
                <input />
            </div>
            <div class="col-md-7">
                <label>Last Name</label>
                <input />
            </div>
            <div class="col-md-7">
                <label>Email</label>
                <input />
            </div>
            <div class="col-md-7">
                <label>Password</label>
                <input />
            </div>
            <div class="col-md-7">
                <label>Confirm Password</label>
                <input />
            </div>
        </div>
        <div id="createAccountButtonContainer" class="row">
            <div class="col-md-4">
                <button class="btn btn-success" type="submit">Create Account</button>
            </div>
        </div>
    </form>
</div>
